*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", system-ui;
}
header{
   
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(9 8 14);
    align-items: center;
    color: white;
    
    height: 10vh;
    padding: 5px 38px;
}
nav div ul{
    display: flex;
    list-style: none;
    
}
nav div ul li{
    padding: 2px 23px;
    align-self: center;
    
}
nav div ul li span{
    align-self: center;
}
nav ul a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.english>a:hover{
    background-color: white;
    color: black;
    padding: 6px 13px;
    border-radius: 7px;
    transform: scale(1);
}

ul li .dropdown li{
display: block;
padding: 11px 11px;

}
ul li .dropdown li:hover{
background-color: rgba(0, 0, 0, 0.593);

border-radius: 7px;
}

.dropdown{
    display: none;
   
}

ul li:hover .dropdown{
    cursor: pointer;
    padding: 23px;
   backdrop-filter:  blur(24px);
   margin-left: -238px;
  width: 27%;
  border-radius: 7px;
    position: absolute;
    z-index: 1111;
    background-color: rgba(56, 54, 54, 0.484);
    display: flex;
    flex-wrap: wrap;
   
   
}
.dropdown2 li>a{
    padding: 11px;
    padding-right:  160px; ;
    transition: all 1s cubic-bezier(0.45, 0.06, 0.7, 0.55);
}
ul li:hover .dropdown2{
    display: block;
    width: 20%;
}
ul li .dropdown2 li:nth-child(1){
    color: rgb(181, 178, 178);
  
}
ul li .dropdown2 li:nth-child(1):hover{

    background:none;

}
ul li .dropdown2 li:nth-child(2){
    transition: all 0.5s ease-in-out;
   
}
ul li .dropdown2 li:nth-child(2):hover,.dropdown2 li a:hover{
background-color: white;
color: black;
transform: scale(1);
box-shadow: 1px 1px 15px 0px white;
}

main{
    height: 100vh;
    width: 100%;
    background: url(MLP_ROW_Muti-title_Mag1._CB1564087979_.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
  
}

.grid{
    height: 90vh;
    width: 70%;
    background:  linear-gradient(to right, black 40%, transparent 58%);
    display: grid;
    grid-template-columns: repeat( 1,580px);
    grid-template-rows: 73px 147px 52px 37px 39px;
   
  padding: 23px 49px;
  color: white;
    
}
.grid h1{
    font-size:41px;
    font-weight: 400;
}
.grid .detail{
    font-size: 19px;
    font-weight: 500;
}
.grid a{
    color: white;
    text-decoration: none;
    background-color:rgb(6, 153, 207);
    align-self: baseline;
    padding: 13px 16px ;
    border-radius: 4px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
   
}
.button1{
   padding:13px 55px !important;
}
.grid .line{
    width: 281px;
    height: 1px;
    background-color: white;
    margin: 15px 0px;
    
}
.grid .or{
    background-color: black;
    position: relative;
    bottom: 30px;
    left: 122px;
    padding: 0px 16px;
    font-size: 13px;
}
.grid .USD{
    font-size: 13px;
    margin-top: 23px;
}







@media screen and (max-width:765px) {
    nav{
        height: 7vh;
    }
   .box ,.grid{
   grid-template-columns: auto;
   grid-template-rows:79px 128px 97px 67px 11px 54px;
   justify-content: center;
   align-items: center;
   background:none;
   padding-top: 100px;
  text-align: center;
 
  
  
   }

   .or{
   position: relative !important;
   left: -3px !important;;
   }
   body{
    background-color: black;
   }
   .box{

    width: 100%;
    background:linear-gradient(180deg, rgba(13, 13, 13, 0.134), #000000fa,rgb(17, 16, 16));
    box-shadow: inset 1px 1px 1px 1px black;
   
   }
   
   
   main{
   
    background-position: top right;
    background-size:155% 264px;
    
   }
   .grid h1{
    font-size: 32px;
    font-weight: 700;

   }
   .grid .detail{
    font-size: medium;
   }
   .button,.button1,.line{
   font-size: 16px !important;
   }

   .dropdown{
    width: 28% !important;
    padding: 5px !important;
    margin-left:-51px !important;
    padding: 8px;
    transform: none;
   }
   .dropdown2:nth-child(2) a{
  padding: 4px;
  padding-right: 7px;
  background-color: white;
  color: black;
  border-radius: 5px;  
    
   }
   .dropdown1{
    width: minmax(27%,60%)  !important;
    margin-left: -99px !important;
   }

    
}